.heading{
  margin: auto;
  width: fit-content;
  text-align: center;
}

body{
    padding: 10px
}

.capriola-regular {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.calculator{
      box-sizing:border-box ;
      background-color: black;
      width: 100%;
      max-width: 420px;
      box-shadow: 0px 4px 10px;
      padding-top: 50px;
      padding-bottom: 20px;
      padding-left: 25pxx;
      padding-right: 25px;
      border-radius: 20px;
      background: #40444b;
      margin:auto;
}

.display{
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
      background-color:white;
      font-size: 22px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      height: 80px;
      border-radius: 50px;
}

.top-symbol-btns{
    display: flex;
    justify-content: space-evenly;
}

.bottom-btns{
    display: flex;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.btn{
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    width: 60px;
    min-height: 48.5px;
    
}
.symbol-btn{
    color: #8aff8f;
}

.numbers > .symbol-btn.btn {
    color: #8aff8f;
}

.numbers .btn {
    color: #8f8981;
}

@media (max-width: 420px){
    .calculator{
    padding-left: 15px;
    padding-right: 15px;
}   
}












